{% extends 'base.html' %}

{% block content%}

{% if not user.is_anonymous %}
    <div class = "menu">
        <h3>
            Welcome {{ user.username }}!
        </h3>
        <a class="create-post-a" href="{% url "forum:post_create" %}">Create Post</a>
    </div>
{% endif %}

{% for object in object_list %}
    <div class="list-card">
        <div class="list-card-img"
            style="background-image: url({{ object.picture_url }});"
        >
    
        </div>
        <div class="list-card-body">
            <div class ="list-card-header">
                <h3>
                    {{ object.author | title }}
                </h3> 
                <p>
                    Since: {{ object.date_updated }}
                </p>
            </div>
            <p>
                {{ object.content | truncatewords:3}}
            </p>
            <div class="list-card-footer">
                <a href="{% url "forum:post_detail" object.id %}">Read more</a>
            </div>
        </div>

    </div>
{% endfor %}

{% endblock %}